{% extends 'base.html' %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">Inicio</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/adm_usuarios/">Usuarios</a></li>
        </ul>


	</div>
</nav>
{% endblock %}



{% block contenido %}
<div class="content-secondary">
	{% if form.errors %}
		Por favor verifique: 
	{% endif %}
	
	<form action="" method="post">
		<table>
			{{ form.as_table }}
		</table>
		{% csrf_token %}
	<div align="center">
		<input class="btn btn-default" type="submit" value="Guardar"/>
		<a href="/adm_usuarios/"><button type="button" class="btn btn-default">Cancelar</button></a>
	</div>
	<br>
	</form>

</div>
{% endblock %}