{% extends 'base.html' %}



{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Usuario</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
	<h2>Los datos del usuario se han modificado con exito </h2>
	<a href="/adm_usuarios/"><button type="button" class="btn btn-default">OK</button></a>
		<div class="form-group">
		</div>

</div>
{% endblock %}