{% extends 'base.html' %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">Inicio</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/adm_usuarios/">Usuarios</a></li>
        </ul>

	</div>
</nav>
{% endblock %}

{% block contenido %}
<div class="jumbotron">
	<div class="bs-example" align="center">
		<h2>Notificacion</h2>
			<p class="text-warning"><small>{{ mensaje }}</small></p>

		<a type="button" class="btn btn-default" href="/adm_usuarios/">Volver</a>
	</div>
</div>
{% endblock %}