{% extends 'base.html' %}



{% block titulo %}Administrar Usuarios{% endblock %}

{% block encabezado %}Usuarios{% endblock %}


{% block contenido %}
    <head>
        <style>
            td,th{
        text-align: center !important;
    }
    .table > tbody{
        border: solid #28415B;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
        background: #28415B;
    }
        </style>
    </head>
          <table class="table table-hover" width="80%" border="2" id="tablaUsuario" rel="tabla">
                 <theader>
                        <tr>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th colspan="5"> Opciones</th>
                        </tr>
                 </theader>
                 <tbody>

                       {% for usuario in lista_usuarios %}
                           {% if usuario_actor != usuario %}



                                 {% if usuario.is_active %}
                                       <tr class="active">
                                           <td>{{ usuario.username }}</td>
                                           <td>Activo</td>

                                            <td>
                                                <a class="btn btn-primary btn-xs" href="{% url 'apps.usuario.views.verUsuario' usuario.id %}">Ver</a></li>
                                                <a class="btn btn-primary btn-xs" href="{% url 'apps.usuario.views.modificarUsuario' usuario.id %}">Modificar</a></li>
                                                <a class="btn btn-primary btn-xs" href="{% url 'apps.usuario.views.cambiarEstado' usuario.id %}">Cambiar Estado</a></li>
                                            </td>
                                       </tr>
                                 {% else %}
                                            <tr class="danger">
                                                <td>{{ usuario.username }}</td>
                                                <td>Inactivo</td>

                                                <td>
                                                <a class="btn btn-primary" href="{% url 'apps.usuario.views.verUsuario' usuario.id %}">Ver</a></li>
                                                <a class="btn btn-primary" href="{% url 'apps.usuario.views.modificarUsuario' usuario.id %}">Modificar</a></li>
                                                <a class="btn btn-primary" href="{% url 'apps.usuario.views.cambiarEstado' usuario.id %}">Cambiar Estado</a></li>                                                            </td>
                                            </tr>
                                 {% endif %}
                           {% endif %}
                            {% if lista_usuarios.count == 1 %}
                            <li style="text-align: center">Aún no hay proyectos registrados</li>
                           {% endif %}
                       {% endfor %}
                 </tbody>
          </table>

    {% block mensaje %}{% endblock %}
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <a class="btn" href="nuevo/"><li class="icon-plus"></li> Crear Usuario</a>
            <a class="btn" href="/"><li class="icon-arrow-left"></li> Regresar</a>
        </ul>
   </div>
{% endblock %}