{% extends 'base.html' %}

<!DOCTYPE html>
<html lang='es'>
{% block contenido %}

<head>
	<style type="text/css">
* {
margin:0px;
padding:0px;
}
#header {
margin: auto;
width:70%;
font-family:Arial, Helvetica, sans-serif;
}
ul, ol {
list-style:none;
}
.nav > li {
float:left;
}
.nav li a {
background-color:#000;
color:#fff;
text-decoration:none;
padding:10px 12px;
display:block;
}
.nav li a:hover {
background-color:#434343;
}
.nav li ul {
display:none;
position:absolute;
min-width:140px;
}
.nav li:hover > ul {
display:block;
}
.nav li ul li {
position:relative;
}
.nav li ul li ul {
right:-140px;
top:0px;
}
</style>


</head>
<body>

    <div id="header">
        	<ul class="nav">
                {% if perms.proyecto.listar_proyecto%}
    			<li><a href="/adm_proyectos/">Administracion de Proyectos</a>
				<ul>
                    {% if perms.proyecto.crear_proyecto %}
					<li><a href="/adm_proyectos/nuevo/">Crear</a></li>
                    {% endif %}
					<li><a href="/adm_proyectos/">Listar</a></li>
				</ul>
                {% endif %}

                </li>
                {% if user.is_superuser%}
                <li><a href="/adm_usuarios/">Administracion de Usuarios</a>
				<ul>
					<li><a href="/adm_usuarios/nuevo/">Crear</a></li>
					<li><a href="/adm_usuarios/">Listar</a></li>
				</ul>
                </li>
                {% endif %}

                {% if user.is_superuser%}
                <li><a href="/roles/">Administracion de Roles</a>
				<ul>
					<li><a href="/roles/crear/">Crear</a></li>
					<li><a href="/roles/">Listar</a></li>
				</ul>
                </li>
                {% endif %}

                {% if perms.cliente.listar_cliente %}
                <li><a href="/adm_clientes/">Administracion de Clientes</a>
				<ul>
                    {% if perms.cliente.crear_cliente%}
					<li><a href="/adm_clientes/nuevo/">Crear</a></li>
                    {% endif %}
				</ul>
                </li>
                {% endif %}
		</ul>
</div>

</body>





{% endblock %}
</html>

