{% extends 'base.html' %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">SAP</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/adm_clientes/">Clientes</a></li>
        </ul>

	</div>
</nav>
{% endblock %}

{% block menu %}
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Cliente</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
	<h2>Los datos del Cliente se han modificado con exito </h2>
	<a href="/adm_clientes/"><button type="button" class="btn btn-default">OK</button></a>
		<div class="form-group">
		</div>

</div>
{% endblock %}ml>