{% extends 'base.html' %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">Inicio</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/adm_clientes/">Clientes</a></li>
        </ul>
	</div>
</nav>
{% endblock %}



{% block contenido %}
<div class="content-secondary">
<!-- Aca van la  lista de Proyectos.. o de Solicitudes.. o de credenciales -->
	<h2>Cliente Creado con Exito </h2>
	<a href="/adm_clientes/"><button type="button" class="btn btn-default">OK</button></a>
		

</div>
{% endblock %}