{% extends 'base.html' %}

{% block navegacion %}
<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a href="/" class="navbar-brand">Inicio</a>
	</div>

	<div  class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li><a href="/adm_clientes/">Clientes</a></li>
        </ul>


	</div>
</nav>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
	 <div><strong>Id:</strong>{{ cliente.id }}</div>
	 <div><strong>Empresa:</strong>{{ cliente.empresa }}</div>
	 <div><strong>RUC:</strong>{{ cliente.ruc }}</div>
	 <div><strong>Telefono:</strong> {{ cliente.telefono }}</div>
	 <div><strong>Direccion: </strong>{{ cliente.direccion }}</div>

</div>
<br>
<div align="center">
		<a href="/adm_clientes/"><button type="button" class="btn btn-default">Volver</button></a>
</div>

{% endblock %}


