<!DOCTYPE html>
</html>
{% extends "base.html" %}
{% load i18n %}



{% block contenido %}



<h1><center> Crear Rol</center> </h1>
<form id="formulario" method="post" action=""  >{% csrf_token %} {{ group_form }}
<p>
    <link rel="stylesheet" type="text/css" href="CSS.css">
    <style type="text/css">
    select{
        color: black;
        background-color: gray }
    input{
        color: black;
        background-color: gray;
        font-weight: 400}
    </style>
    <input type="submit" value="Crear Rol"></p>
</form>
    <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <a class="btn" href="/roles/" ><li class="icon-arrow-left"></li> Regresar</a>

            </ul>
       </div>
{% endblock %}