<!DOCTYPE html>
{% extends "base.html" %}
{% block busqueda %} {% endblock %}
    <head>
       {% block titulo %} <title>Rol registrado correctamente</title>{% endblock %}


    </head>
    <body>
        {% block contenido %}
        <div class="content-secondary">
            <h2>Rol registrado Correctamente </h2>
            <a href="/roles/"><button type="button" class="btn btn-default">OK</button></a>
        </div>
        {% endblock %}
    </body>
</html>