<!DOCTYPE html>
{% extends 'base.html' %}
{% load i18n %}
<html>
{% block contenido %}
    <center>
        <h1>Detalles del Rol {{rol.name|title}}</h1>
    </center>
    <h2>Permisos:</h2>
        {% for permiso in permisos %}
			<li>{{ permiso.name }}</li>
      			{% endfor %}
                    <center>
                    <form action="/roles">
                    <input type="submit" value="Regresar al listado">
                    </form>
                    </center>
{% endblock %}
</html>