{% extends 'base_proyecto.html' %}


{% block titulo %}Proyecto{% endblock %}

{% block encabezado %}Proyectos{% endblock %}


{% block contenido %}
<head>
    <style>
        .liveSample {
    background-color: #FFC;
    color: #ffffff;
    padding: 4px;
    margin-left: 10px;
    margin-right: 10px;
    border: 3px solid #28415B;
}
    </style>
</head>

<div class="liveSample" style="font-size: 16px; padding-left: 20px; padding-bottom: 50px; padding-top: 30px; background: center">

    <div><strong>Nombre: </strong>{{ proyecto.nombre }}</div>
    <div><strong>Fecha de Inicio: </strong>{{ proyecto.FECHA_INI }}</div>
    <div><strong>Fecha de Finalizacion: </strong>{{ proyecto.fecha_fin}}</div>

</div>

<div class="well sidebar-nav">
    <ul class="nav nav-list">
        <a class="btn" href="/adm_proyectos"><li class="icon-plus"></li> Volver a listado</a>
    </ul>
</div>




{% endblock %}

