<!DOCTYPE html>
{% extends 'base.html' %}
{% block contenido %}

    <h1><center> Cambiar Estado del Proyecto</center> </h1>
	<form id='formulario' method='post'>{% csrf_token %}
        <table>{{proyecto}}</table>

	</form>
       <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <input type="submit" value="Guardar cambios">
                <a class="btn" href="/adm_proyectos/"><li class="icon-arrow-left"></li> Regresar</a>

            </ul>
       </div>
{% endblock %}