<!DOCTYPE html>
{% extends 'base.html' %}
{% block contenido %}

    <h1><center> Crear Proyecto</center> </h1>
	<form id='formulario' method='post'>{% csrf_token %}
        <table style="color: #000000">{{formulario}}</table>
		<p><input type='submit' value='Confirmar'/></p>
	</form>
       <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <a class="btn" href="/adm_proyectos/"><li class="icon-arrow-left"></li> Regresar</a>

            </ul>
       </div>
{% endblock %}