<!DOCTYPE html>
{% extends 'base_proyecto.html' %}
<html>
{% block contenido %}

     <head>
    <style>
        .liveSample {
    color: #ffffff;
    padding: 4px;
    margin-left: 10px;
    margin-right: 10px;
    border: 3px solid #28415B;
}
    </style>
</head>
<br>


    <center>
    <h1>Datos Basicos</h1>
    </center>

            <div class="liveSample" style="font-size: 16px; padding-left: 20px; padding-bottom: 50px; padding-top: 30px;">


            <div><strong>Id: </strong>{{ proyecto.id }}</div>
            <div><strong>Nombre: </strong>{{ proyecto.nombre }}</div>
            <div><strong>Descripción: </strong>{{ proyecto.descripcion }}</div>
            <div><strong>Observaciones: </strong>{{ proyecto.observaciones }}</div>
            <div><strong>Estado: </strong>{{ proyecto.estado }}</div>
            <div><strong>Fecha de Inicio: </strong>{{ proyecto.fecha_ini }}</div>
            <div><strong>Fecha de Finalizacion: </strong>{{ proyecto.fecha_fin}}</div>
            <div><strong>Lider: </strong>{{ lider.first_name}}</div>
            <br>
          	<br>





            </div>
    <div>{{ mensaje }}</div>
    <div class="well sidebar-nav">
            <ul class="nav nav-list">
                {% if perms.proyecto.modificar_detalle_proyecto %}
                <a class="btn" href="{% url 'apps.proyecto.views.editar_proyecto' proyecto.id %}"><li class="icon-plus"></li> Modificar Datos Generales</a>
                {% endif %}
                <a class="btn" href="/adm_proyectos/abrir_proyecto/{{ proyecto.id }}"><li class="icon-plus"></li> Volver a Proyecto </a>
            </ul>
       </div>
{% endblock %}
</html>
