<!DOCTYPE html>
{% extends 'base.html' %}
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
{% block contenido %}
    <head>
        <style type="text/css">
        select{
        color: black;
        background-color: gray }
        </style>
    </head>
<br>
    <center>
    <h1>Modificar Proyecto {{ nombre|title }} </h1>
    </center>

    <form action="" method="post">{% csrf_token %}

    <panel>{{ proyecto }}</panel>

    <input class="btn btn-primary btn-xs" type="submit" value="Guardar cambios">
</form>
      <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <a class="btn" href="/adm_proyectos/"><li class="icon-arrow-left"></li> Regresar</a>

            </ul>
       </div>
{% endblock %}