<!DOCTYPE html>
{% extends 'base.html' %}

{% block contenido %}
<head>
    <style>

    td,th{
        text-align: center !important;
    }
    .table > tbody{
        border: solid #28415B;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
        background: #28415B;
    }
</style>
    <body>
      <h2>Buscar Proyectos</h2>
      <form action='{% url 'apps.proyecto.views.buscar_proyectos' %}'>
        <label for="q">Nombre: </label>
        <input type="text" name="q" value="{{ query|escape }}">
          <input type="submit" value="Buscar">
      </form>
    </body>

</head>

    <center><h1>Administracion de Proyectos</h1></center>

 <br>
    <center>
	<script >
    function clicked(e)
    {
        if(!confirm('Está Seguro?'))
            e.preventDefault();
    }
</script>
        <table class='table table-hover' width="80%" border="2">
        <theader>
	        <tr>
	            <th>Nombre</th>
	            <th>Estado</th>
                <th>Fecha De Inicio</th>
                <th>Fecha De Culminacion</th>
	            <th>Lider</th>
	            <th colspan="5">Opciones</th>
            </tr>
        </theader>
        <tbody>

	    {% for dato in datos  %}
            {% if not dato.borrado_logico %}

                <tr border="2" class="active">
                    <td>{{ dato.nombre }}</td>
                    <td>{{ dato.estado }}</td>
                    <td>{{ dato.fecha_ini }}</td>
                    <td>{{ dato.fecha_fin }}</td>

                    <td>{{ dato.lider }}</td>

                    <td>

                    {% if not user.is_superuser %}
                        {% for proyecto in proyectoDeUsuario  %}

                            {% if dato.estado == 'PEN' %}

                                	{% if dato.lider == user or user.is_superuser %}
                                		<a class="btn btn-primary btn-xs" type="submit" onclick="clicked(event)" href="eliminar_proyecto/{{ dato.pk }}?" > Eliminar</a>
                                	{% endif %}

                                	{% if dato.lider == user or user.is_superuser%}
                                		<a href="cambiar_estado/{{ dato.pk }}" class="btn btn-primary btn-xs">Cambiar Estado</a>
                                	{% endif %}

                            {% else %}

                                {% if dato.id == proyecto.proyecto.id%}
                                    <a href="abrir_proyecto/{{ dato.pk }}" class="btn btn-primary btn-xs">Abrir Proyecto</a>
                                {% endif %}

                                {% if dato.id == proyecto.proyecto.id%}
                                    <a class="btn btn-primary btn-xs" type="submit" onclick="clicked(event)" href="eliminar_proyecto/{{ dato.pk }}?" > Eliminar</a>
                                {% endif %}

                                {% if dato.id == proyecto.proyecto.id%}
                                	<a href="cambiar_estado/{{ dato.pk }}" class="btn btn-primary btn-xs">Cambiar Estado</a>
                                {% endif %}

                            {% endif %}
                        {% endfor %}

                    {% endif %}

                    {% if lider == True %}
                        {% if dato.estado == 'PEN' %}

                                	{% if dato.lider == user or user.is_superuser %}
                                		<a class="btn btn-primary btn-xs" type="submit" onclick="clicked(event)" href="eliminar_proyecto/{{ dato.pk }}?" > Eliminar</a>
                                	{% endif %}

                                	{% if dato.lider == user or user.is_superuser%}
                                		<a href="cambiar_estado/{{ dato.pk }}" class="btn btn-primary btn-xs">Cambiar Estado</a>
                                	{% endif %}

                            {% else %}

                                {% if dato.lider == user%}
                                    <a href="abrir_proyecto/{{ dato.pk }}" class="btn btn-primary btn-xs">Abrir Proyecto</a>
                                {% endif %}

                                {% if dato.lider == user%}
                                    <a class="btn btn-primary btn-xs" type="submit" onclick="clicked(event)" href="eliminar_proyecto/{{ dato.pk }}?" > Eliminar</a>
                                {% endif %}

                                {% if dato.lider == user%}
                                	<a href="cambiar_estado/{{ dato.pk }}" class="btn btn-primary btn-xs">Cambiar Estado</a>
                                {% endif %}

                            {% endif %}

                        {% endif %}

                    {% if user.is_superuser %}
                        {% if dato.estado == 'PEN' %}

                                	{% if dato.lider == user or user.is_superuser %}
                                		<a class="btn btn-primary btn-xs" type="submit" onclick="clicked(event)" href="eliminar_proyecto/{{ dato.pk }}?" > Eliminar</a>
                                	{% endif %}

                                	{% if dato.lider == user or user.is_superuser%}
                                		<a href="cambiar_estado/{{ dato.pk }}" class="btn btn-primary btn-xs">Cambiar Estado</a>
                                	{% endif %}

                            {% else %}

                                {% if dato.id == proyecto.proyecto.id or user.is_superuser%}
                                    <a href="abrir_proyecto/{{ dato.pk }}" class="btn btn-primary btn-xs">Abrir Proyecto</a>
                                {% endif %}


                                    <a class="btn btn-primary btn-xs" type="submit" onclick="clicked(event)" href="eliminar_proyecto/{{ dato.pk }}?" > Eliminar</a>


                                	<a href="cambiar_estado/{{ dato.pk }}" class="btn btn-primary btn-xs">Cambiar Estado</a>

                            {% endif %}


                    {% endif %}


                    </td>
                </tr>

            {% endif %}
                {% empty %}
                    <li style="text-align: center">Aún no hay proyectos registrados</li>
        {% endfor %}

        </tbody>
	</table>
    </center>

   <div class="well sidebar-nav">
        <ul class="nav nav-list">


            {% if perms.proyecto.crear_proyecto%}
                <a class="btn" href="/adm_proyectos/nuevo"><li class="icon-plus"></li> Agregar un Proyecto</a>
            {% endif%}
            <a class="btn" href="/"><li class="icon-arrow-left"></li> Regresar</a>
        </ul>
   </div>

	<br>

{% endblock %}
