{% extends 'base.html' %}



{% block contenido %}
<div class="content-secondary">
	<h2>Los datos del proyecto se han modificado con exito </h2>
	<a href="/adm_proyectos/abrir_proyecto/{{ id_proyecto }}"><button type="button" class="btn btn-default">OK</button></a>
		<div class="form-group">
		</div>

</div>
{% endblock %}