<!DOCTYPE html>
{% extends 'base.html' %}
<html>
{% block contenido %}

     <head>

        <script type='text/javascript'>
        $(document).ready(function(){
        $.jqplot('chartdiv',[{{ ideal }},{{ calculado }}],
        { title:'Burn Down Chart',
          series:[{color:'#5FAB78'}]
        });
        })
    </script>
    <style>
        .liveSample {
    color: #ffffff;
    padding: 4px;
    margin-left: 10px;
    margin-right: 10px;
    border: 3px solid #28415B;
}
    </style>
</head>
<br>

    <center>
        <div id='chartdiv' style="height:30%;width:40%; "></div>
    </center>




    <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <a class="btn" href="/adm_proyectos/{{ id_proyecto }}/sprint/ver/{{ numero_sprint }}"><li class="icon-plus"></li> Volver al Sprint </a>
            </ul>
       </div>
{% endblock %}
</html>
