{% extends 'base.html' %}


{% block titulo  %}Iniciar Nuevo Sprint{% endblock %}
{% block encabezado %}
    <h1 style="color: white " xmlns="http://www.w3.org/1999/html">Inicia un Nuevo Sprint</h1>
{% endblock %}
{% block contenido %}
    <tr class="warning">
        <div><b>{{ mensaje }}</b></div>
    </tr>
	<form id='formulario' method='post' action=''>{% csrf_token %}
		<table>{{form}}</table>
		<p><input type='submit' value='INICIAR'/></p>
	</form>
{% endblock %}