{% extends 'base_proyecto.html' %}

{% block titulo %}Sprint{% endblock %}

{% block encabezado %}Sprints{% endblock %}

{% block contenido %}


<style>
table, th, td {

    border-collapse: collapse;
}
table { table-layout: fixed;

}
th {
    text-align: center;
}
td {
    text-align: center;
}

table th    {
    background-color: #375A7F;
    color: white;
}
</style>

<body>

<div style="vertical-align:top;">
    <table style="margin-left: auto; margin-right: auto; color: white;">
    <thead>
        <tr>
            <th><h2><b> TABLERO KANBAN</b></h2><h5 style="text-align: left"><b>Sprint: {{ numero_sprint }} <br>Flujo: {{ flujo.nombre }} </b></h5></th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>
        <table style="float: left;">
        <tbody>
        {% for actividad in lista_actividades %}
            {% if actividad.flujo == flujo %}
                <table style="float: left; border-bottom: none; border: 1px solid #05030c;">
                <tr>
                    <th style="background-color: #02325f" colspan="3"><h3>{{ actividad.nombre }}</h3></th>
                </tr>
                <tr>
                <td>
                    <table class="fixed" style="float: left; margin:auto; border: 1px solid #05030c; border-left: none">
                    <col width="102px" />
                    <thead>
                        <tr>
                            <th>To Do</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for us in lista_us %}
                            {% if us.estado == 'TODO' and us.flujo == flujo and us.actividad == actividad  %}
                                <tr>
                                    <td style="height:80px"><font FACE="tahoma" SIZE="2">
                                    <a class="btn btn-success" style="text-decoration: none; background-color: dimgray;
                                    border-color: transparent; font-size: 11px" href="{% url 'apps.user_stories.views.verUserStory' id_proyecto us.id %}">
                                    {{ us.nombre }}<br><div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                    aria-valuemin="0" aria-valuemax="100" style="width:70%;">
                                    70%
                                    </div>
                                    </div>
                                    </a></li>
                                    </font>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td style="height:80px"><font FACE="tahoma" SIZE="2"></font></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                    </table>
                </td>
                <td>
                    <table class="fixed" style="float: left; margin:auto; border:1px solid #05030c; border-left: none"">
                    <col width="102px" />
                    <thead>
                        <tr>
                            <th>Doing</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for us in lista_us %}
                            {% if us.estado == 'DOING' and us.flujo == flujo and us.actividad == actividad  %}
                                <tr>
                                    <td style="height:80px"><font FACE="tahoma" SIZE="2">
                                    <a class="btn btn-success" style="text-decoration: none; background-color: dimgray;
                                    border-color: transparent; font-size: 11px" href="{% url 'apps.user_stories.views.verUserStory' id_proyecto us.id %}">
                                    {{ us.nombre }}<br><div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                    aria-valuemin="0" aria-valuemax="100" style="width:70%;">
                                    70%
                                    </div>
                                    </div>
                                    </a></li>
                                    </font>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td style="height:80px"><font FACE="tahoma" SIZE="2"></font></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                    </table>
                </td>
                <td>
                    <table class="fixed" style="float: left; margin:auto; border:1px solid #05030c; border-left: none; border-right: none">
                        <col width="102px" />
                    <thead>
                        <tr>
                            <th>Done</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for us in lista_us %}
                            {% if us.estado == 'DONE' and us.flujo == flujo and us.actividad == actividad  %}
                                <tr>
                                    <td style="height:80px"><font FACE="tahoma" SIZE="2">
                                    <a class="btn btn-success" style="text-decoration: none; background-color: dimgray;
                                    border-color: transparent; font-size: 11px" href="{% url 'apps.user_stories.views.verUserStory' id_proyecto us.id %}">
                                    {{ us.nombre }}<br><div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                    aria-valuemin="0" aria-valuemax="100" style="width:70%;">
                                    70%
                                    </div>
                                    </div>
                                    </a></li>
                                    </font>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td style="height:80px"><font FACE="tahoma" SIZE="2"> </font></td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                    </table>
                </td>
                </table>
            {% endif %}
        {% endfor %}
        </tbody>
        </table>
        </td>
        </tr>
    </tbody>
    </table>
</div>
<div class="well sidebar-nav">

            <ul class="nav nav-list">
                 <a class="btn" href='/adm_proyectos/{{ id_proyecto }}/sprint/ver/{{ numero_sprint }}/'><li class="icon-arrow-left"></li>Volver al Sprint</a>
            </ul>
       </div
</body>
{% endblock %}