{% extends 'base_proyecto.html' %}

{% block titulo %}Sprint{% endblock %}

{% block encabezado %}Sprints{% endblock %}

{% block contenido %}
<style>
table, th, td {
    border-collapse: collapse;
}
table { table-layout: fixed;
}

th, td {
    padding: 10px;
}
th {
    text-align: center;
}
td {
    text-align: center;

}
</style>

          <table class="table" id="tablaUSs" rel="tabla">
                 <thead>
                    <caption><h1 style="background-color: darkslategray"><b>Product Backlog</b></h1></caption>
                        <tr>
                            <th>User Story</th>
                            <th>Prioridad</th>
                            <th>Valor Negocio</th>
                            <th>Valor Tecnico</th>
                            <th>Size</th>
                            <th>Trabajado</th>
                            <th>Finalizado</th>
                            <th>Flujo</th>
                            <th>Actividad</th>
                            <th>Estado</th>
                            <th>Usuario</th>
                            <th></th>
                        </tr>
                 </thead>
                 <tbody>
                        {% if lista_us == 0 %}
                              <tr class="warning">
                                  <td><b>No hay Ningun Sprint Corriendo</b></td><td></td><td></td><td></td>
                              </tr>
                        {% else %}
                                {% for us in lista_us %}
                                                   <tr class="active">
                                                       <td>{{ us.nombre }}</td>
                                                       <td>{{ us.prioridad }}</td>
                                                       <td>{{ us.valor_negocio }}</td>
                                                       <td>{{ us.valor_tecnico }}</td>
                                                       <td>{{ us.size }} hs.</td>
                                                       <td>{{ us.horas_dedicadas }} hs.</td>
                                                       {% if us.finalizado == True %}
                                                           <td>SI</td>
                                                       {% else %}
                                                           <td>NO</td>
                                                       {% endif %}
                                                       <td>{{ us.flujo }}</td>
                                                       <td>{{ us.actividad }}</td>
                                                       <td>{{ us.estado }}</td>
                                                       <td>{{ us.usuario_asociado }}</td>
                                                       <td>
                                                        <a class="btn btn-primary btn-xs" href="{% url 'apps.user_stories.views.verUserStory' id_proyecto us.id %}">Ver</a></li>
                                                       </td>

                                                   </tr>

                                {% endfor %}
                        {% endif %}


                 </tbody>
          </table>
<div class="well sidebar-nav">
        <ul class="nav nav-list">

        <a class="btn" href='/adm_proyectos/{{ id_proyecto }}/sprint'><li class="icon-arrow-left"></li>Volver a Listado Sprint</a>
        </ul>
   </div>


{% endblock %}

