{% extends 'base.html' %}




{% block contenido %}
<div class="content-secondary">
<!-- Aca van la  lista de Solicitudes.. o de credenciales -->
	<h2>Sprint Iniciado con Exito </h2>
	<a href="/adm_proyectos/{{ id_proyecto }}/sprint/"><button type="button" class="btn btn-default">OK</button></a>
		

</div>
{% endblock %}