{% extends 'base_proyecto.html' %}


{% block titulo %}Sprint{% endblock %}

{% block encabezado %}Sprints{% endblock %}

{% block contenido %}
    <head>
    </head>


            <li></li>
            <li><tr><th><b>Sprint Activo: </b>{{ texto }}{{ texto_faltan }}</th></tr></li>

            <center><li><tr><th><b>{{ porcentaje }} % </b></th></tr></li><progress class="progress progress-bar-success" value="{{ porcentaje }}" max="100" style="width:80%;">70 %</progress></center>




          <table class="table" id="tablaSprint" rel="tabla">
                 <thead>
                        <tr>
                            <th>Numero</th>
                            <th>Estado</th>
                            <th>Fecha de Inicio</th>
                            <th>Fecha de Fin</th>
                        </tr>
                 </thead>
                 <tbody>
                        {% if lista.count == 0 %}
                              <tr class="warning">
                                  <td><b>No hay Ningun Sprint Actualmente</b></td><td></td><td></td><td></td>
                              </tr>
                        {% else %}
                                {% for sprint in lista %}

                                                   <tr class="active">
                                                       <td><b>{{ sprint.numero }}</b></td>
                                                       <td>{{ sprint.estado }}</td>
                                                       <td>{{ sprint.fecha_ini }}</td>
                                                       <td>{{ sprint.fecha_fin }}</td>
                                                       <td><a href="{% url 'apps.sprint.views.verSprint' id_proyecto sprint.numero %}" class="btn btn-primary btn-xs">Ver Sprint</a>
                                                       </td>

                                                    </tr>

                                {% endfor %}
                        {% endif %}


                 </tbody>
          </table>
            <div class="well sidebar-nav">

            <ul class="nav nav-list">
                {% if permiso == True and perms.sprint.iniciar_sprint %}
    		    <a class="btn" href="{% url 'apps.sprint.views.iniciarSprint' id_proyecto %}"><li class="icon-arrow-left"></li>Iniciar Sprint</a>
                {% endif %}
                <a class="btn" href="{% url 'apps.sprint.views.productBacklog' id_proyecto %}"><li class="icon-arrow-left"></li>Product Backlog</a>
                <a class="btn" href='/adm_proyectos/abrir_proyecto/{{ id_proyecto }}'><li class="icon-arrow-left"></li>  Volver a Proyecto</a>
            </ul>
       </div>


{% endblock %}

