{% extends 'base.html' %}



{% block titulo %}Administrar Actividades{% endblock %}

{% block encabezado %}Actividades{% endblock %}


{% block contenido %}






          <table class="table" id="tablaActividad" rel="tabla">
                 <thead>
                        <tr>
                            <th>Orden</th>
                            <th>Nombre</th>
                            <th></th>
                            <th></th>
                        </tr>
                 </thead>
                 <tbody>
                        {% if lista_actividades.count == 0 %}
                              <tr class="warning">
                                  <td>No hay actividades disponibles</td><td></td><td></td><td></td>
                              </tr>
                        {% else %}
                                {% for actividad in lista_actividades %}
                                                   <tr class="active">
                                                       <td>{{ actividad.orden }}</td>
                                                       <td>{{ actividad.nombre }}</td>

                                                        <td>
                                                            <a class="btn btn-primary btn-xs" href="ver/{{ actividad.id }}/">Ver</a></li>
                                                            <a class="btn btn-primary btn-xs" href="modificar/{{ actividad.id }}/">Modificar</a></li>
                                                            <a class="btn btn-primary btn-xs" href="eliminar/{{ actividad.id }}/">Eliminar</a></li>
                                                        </td>
                                                    </tr>
                                {% endfor %}
                        {% endif %}
                 </tbody>
          </table>

    {% block mensaje %}{% endblock %}
    <div class="well sidebar-nav">
        <ul class="nav nav-list">
            <a class="btn" href='/adm_proyectos/{{ id_proyecto }}/adm_flujos/'><li class="icon-arrow-left"></li>Volver a Flujos</a>
            {% if perms.flujos.crear_actividad%}
            <a class="btn" href="nuevo/"><li class="icon-arrow-left"></li>Crear Actividad</a>
            {% endif %}
        </ul>
   </div>
{% endblock %}