{% extends 'base.html' %}



{% block menu %}
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Flujo</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
	<h2>Los datos de la actividad se han modificado con exito </h2>
	<a href="/adm_proyectos/{{ id_proyecto }}/adm_flujos/{{ id_flujo }}/adm_actividades"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> OK</button></a>
		<div class="form-group">
		</div>

</div>
{% endblock %}