{% extends 'Flujo/Actividad/actividades.html' %}


{% block titulo  %}Nueva Actviidad{% endblock %}
{% block encabezado %}
	<h1 style="color: white ">Registra una nueva actividad</h1>
{% endblock %}
{% block contenido %}
     {% if mensaje != null %}
                <center>
                <li>{{ mensaje }}</li>
                </center>
            {% endif %}
	<form id='formulario' method='post' action=''>{% csrf_token %}
		<table>{{form}}</table>
		<p><input type='submit' value='Registrar'/></p>
	</form>

    <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <a class="btn" href="/adm_proyectos/{{ id_proyecto }}/adm_flujos/"><li class="icon-arrow-left"></li> Volver</a>

            </ul>
       </div>
{% endblock %}

