{% extends 'base.html' %}


{% block titulo  %}Nuevo flujo{% endblock %}
{% block encabezado %}
	<h1 style="color: white ">Registra un nuevo flujo</h1>
{% endblock %}
{% block contenido %}

    <head>
        <style type="text/css">
        select{
        color: black;
        background-color: gray }
        form {
            align-items: center;
        }
        </style>
    </head>
    {% if mensaje != null %}
                <center>
                <li>{{ mensaje }}</li>
                </center>
            {% endif %}
    <div align="center">
	<form id='formulario' method='post' action=''>{% csrf_token %}
		<table>{{form}}</table>
		<p><input class="btn btn-primary btn-xs" type='submit' value='Registrar'/></p>
	</form>
    </div>
{% endblock %}