{% extends 'base.html' %}

{% block navegacion %}

{% endblock %}

{% block menu %}		
<div class="menu">
	<ul>
		<li id="option1" class="active">
			<a href="#">Flujo</a>
		</li>
	</ul>
</div>
{% endblock %}

{% block contenido %}
<div class="content-secondary">
	<h2>Los datos del flujo se han modificado con exito </h2>
	<a href="/adm_proyectos/{{ id_proyecto }}/adm_flujos/"><button type="button" class="btn btn-default">OK</button></a>
		<div class="form-group">
		</div>

</div>
{% endblock %}