{% extends 'base_proyecto.html' %}


{% block titulo %}Administrar Flujos{% endblock %}

{% block encabezado %}Flujos{% endblock %}



{% block contenido %}
<head>
<style>

    td,th{
        text-align: center !important;
    }
    .table > tbody{
        border: solid #28415B;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
        background: #28415B;
    }
</style>
</head>
          <table class="table" id="tablaFlujo" rel="tabla">
                 <theader>
                        <tr>
                            <th>Nombre</th>
                            <th>Estado</th>
                            <th colspan="3">Opciones</th>
                        </tr>
                 </theader>
                 <tbody>
                        {% for flujo in lista_flujos %}
                               <tr border="2" class="active">
                                   <td>{{ flujo.nombre }}</td>
                                   <td>Activo</td>

                                    <td>
                                        <a class="btn btn-primary btn-xs" href="{% url 'apps.flujos.views.administrarActividades' id_proyecto flujo.id %}">Actividades</a>
                                        <a class="btn btn-primary btn-xs" href="{% url 'apps.flujos.views.verFlujo' id_proyecto flujo.id %}">Ver</a>
                                        <a class="btn btn-primary btn-xs" href="{% url 'apps.flujos.views.modificarFlujo' id_proyecto flujo.id %}">Modificar</a>
                                        <a class="btn btn-primary btn-xs" href="{% url 'apps.flujos.views.confEliminarFlujo' id_proyecto flujo.id %}">Eliminar</a>

                                    </td>
                                </tr>
                        {% empty %}
                            <li style="text-align: center">No hay flujos disponibles</li>
                        {% endfor %}
                            
                 </tbody>
          </table>

    <div class="well sidebar-nav">
        <ul class="nav nav-list">


            {% if perms.flujos.crear_flujo%}
                <a class="btn" href="nuevo/"><li class="icon-plus"></li> Crear Flujo</a>
            {% endif%}
            <a href='/adm_proyectos/abrir_proyecto/{{ id_proyecto }}'>Volver a Proyecto</a>
        </ul>
   </div>

{% endblock %}

