{% extends 'base.html' %}

{% block navegacion %}

{% endblock %}



{% block contenido %}
<div class="content-secondary">
	{% if form.errors %}
		Por favor verifique: 
	{% endif %}
	 {% if mensaje != null %}
                <center>
                <li>{{ mensaje }}</li>
                </center>
            {% endif %}
	<form action="" method="post">
		<table>
			{{ form.as_table }}
		</table>
		{% csrf_token %}
	<div align="center">
		<input class="btn btn-default" type="submit" value="Guardar"/>
		<a href="/adm_proyectos/{{ id_proyecto }}/adm_flujos/"><button type="button" class="btn btn-default">Cancelar</button></a>
	</div>
	<br>
	</form>

</div>
{% endblock %}