{% extends 'base.html' %}

{% block navegacion %}

{% endblock %}

{% block contenido %}
<div class="content-secondary">
	<p><h4>Id: <span class="label label-default">{{ flujo.id }}</span></h4></p>
	<p><h4>Nombre del Flujo: <span class="label label-default">{{ flujo.nombre }}</span></h4></p>

</div>
<br>
<div align="center">
		<a href="/adm_proyectos/{{ id_proyecto }}/adm_flujos/"><button type="button" class="btn btn-default">Volver</button></a>
</div>

{% endblock %}


