{% extends 'base.html' %}


{% block titulo  %}Actualizar Trabajo User Story{% endblock %}

{% block contenido %}
        <div>{{ mensaje }}</div>

	<form id='formulario' method='post' action=''>{% csrf_token %}
		<table style="color: Black">{{form}}</table>
		<p><input type='submit' value='Registrar'/></p>
	</form>
     <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <a class="btn" href="/adm_proyectos/{{ id_proyecto }}/adm_user_story/"><li class="icon-arrow-left"></li> Volver</a>

            </ul>
       </div>
{% endblock %}