{% extends 'base.html' %}
{% block titulo %}Eliminar User Story{% endblock %}
{% block activo-admin %}active{% endblock %}

{%  block botones %}
    <li><a href="/adm_proyectos/{{ id_proyecto }}/adm_user_story/" class="btn btn-default">Volver</a></li>
{% endblock %}

{% block contenido %}
    <p class="alert alert-danger">Esta seguro que desea eliminar el User Story? Este cambio no podra
    deshacerse</p>
    <p>
        <a class="btn btn-primary btn-lg" href="{% url 'apps.user_stories.views.eliminarUserStory' id_proyecto us.id %}">Si</a>
        <a class="btn btn-default btn-lg" href="/adm_proyectos/{{ id_proyecto }}/adm_user_story/">No</a>
    </p>


{% endblock %}