{% extends 'base.html' %}


{% block titulo  %}Nuevo User Story{% endblock %}
{% block encabezado %}
	<h1 style="color: white ">Registra un nuevo User Story</h1>
{% endblock %}
{% block contenido %}
      {% if mensaje != null %}
                <center>
                <div class="alert-warning">{{ mensaje }}</div>
                </center>
            {% endif %}
	<form id='formulario' method='post' action=''>{% csrf_token %}
		<table>{{form}}</table>
		<p><input type='submit' value='Registrar'/></p>
	</form>
    <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <a class="btn" href="/adm_proyectos/{{ id_proyecto }}/adm_user_story/"><li class="icon-arrow-left"></li> Volver</a>

            </ul>
       </div>
{% endblock %}