{% extends 'base.html' %}



{% block contenido %}
<div class="content-secondary">
	<h2>User Story Eliminado con Exito </h2>
	<a href="/adm_proyectos/{{ id_proyecto }}/adm_user_story/"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> OK</button></a>
		

</div>
{% endblock %}