<!DOCTYPE html>
{% extends 'base_proyecto.html' %}
<html>
{% block contenido %}
<br>
<script >
    function clicked(e)
    {
        if(!confirm('Desea validar este User Story?'))
            e.preventDefault();
    }
</script>
    <center>
    <h1>Datos Del User Story</h1>
    </center>

            <div style="font-size: 16px; padding-left: 20px; padding-bottom: 50px; padding-top: 30px;">
            {% if mensaje != null %}
                <center>
                <div class="alert-warning">{{ mensaje }}</div>
                </center>
            {% endif %}

            <div><strong>Id: </strong>{{ us.id }}</div>
            <div><strong>Nombre: </strong>{{ us.nombre }}</div>
            <div><strong>Descripción: </strong>{{ us.descripcion }}</div>
            <div><strong>Prioridad: </strong>{{ us.prioridad }}</div>
            <div><strong>Valor de Negocio: </strong>{{ us.valor_negocio }}</div>
            <div><strong>Valor Tecnico: </strong>{{ us.valor_tecnico}}</div>
            <div><strong>Size: </strong>{{ size}}</div>
            <div><strong>Horas Dedicadas: </strong>{{ us.horas_dedicadas }}</div>
            <div><strong>Proyecto: </strong>{{ us.proyecto.nombre }}</div>
            <div><strong>Finalizado: </strong>{{ us.finalizado }}</div>
            <div><strong>Flujo: </strong>{{ us.flujo.nombre }}</div>
            <div><strong>Actividad: </strong>{{ us.actividad.nombre }}</div>
            <div><strong>Estado: </strong>{{ us.estado }}</div>
            <div><strong>Usuario Asociado: </strong>{{ us.usuario_asociado }}</div>

            <br>

            <div><strong>Comentarios: </strong></div>
            <table class="table" id="tablaComentarios" rel="tabla">
                 <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Comentario</th>


                            <th></th>
                            <th></th>
                        </tr>
                 </thead>

                <tbody>
                        {% if comentarios.count == 0 %}
                              <tr class="warning">
                                  <td>No hay comentarios para este User Story </td><td></td><td></td><td></td>
                              </tr>
                        {% else %}
                                {% for comentario in comentarios %}
                                                   <tr class="active">
                                                       <td>{{ comentario.fecha }}</td>
                                                       <td>{{ comentario.descripcion }}</td>

                                                    </tr>


                                {% endfor %}
                        {% endif %}


                 </tbody>
          </table>


<div class="well sidebar-nav">
            <ul class="nav nav-list">
                <a href="/adm_proyectos/{{ id_proyecto }}/adm_user_story/"><button type="button" class="btn btn-default">Volver</button></a>
                <a class="btn btn-default" href="{% url 'apps.user_stories.views.verHistorial' id_proyecto us.id %}">Historial del User Story</a></li>
                {% if proyecto.lider == user or user.is_superuser %}
                    <a class="btn btn-default" type="submit" onclick="clicked(event)" href="{% url 'apps.user_stories.views.finalizarUserStory' id_proyecto us.id %}" > Finalizar HU</a>
                {% endif %}
            </ul>
       </div>

</div>
{% endblock %}
</html>