<!DOCTYPE html>
{% extends 'base_proyecto.html' %}
<html>
{% block contenido %}
<br>

    <center>
    <h1>Historial Del User Story</h1>
    </center>
            <div><strong>Historial: </strong></div>

                        {% if lista.count == 0 %}
                              <tr class="warning">
                                  <td>No hay un historico para este User Story </td><td></td><td></td><td></td>
                              </tr>
                        {% else %}
                                {% for historial in lista %}
                                                   <tr class="active">
                                                       <td>{{ historial.descripcion }}</td>
                                                    <br>
                                                   </tr>


                                {% endfor %}
                        {% endif %}




	<a href="/adm_proyectos/{{ id_proyecto }}/adm_user_story/"><button type="button" class="btn btn-default">OK</button></a>


{% endblock %}
</html>