{% extends "base.html" %}
{% block title %} | Acceso Denegado{% endblock %}

{% block contenido %}
    <center>
<h1>Acceso Denegado</h1>
<span>Lo sentimos, pero usted no esta autorizado para realizar la accion (Error: 403)</span>


<div class="content-secondary">

	<a href="/adm_proyectos/{{ id_proyecto }}/adm_flujos/{{ id_flujo }}/adm_actividades"><button type="button" class="btn btn-default">OK</button></a>


</div></center>
{% endblock contenido %}