<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <title>SKP {% block titulo %}{% endblock %}</title>

<link rel='stylesheet' href='/static/bootstrap/themes/darkly/css/bootstrap.css'>

<link href="/static/bootstrap/themes/darkly/css/css/bootstrap.min.css" rel="stylesheet">

    <script type="text/javascript" src="/static/src/jquery.min.js"></script>
    <script type="text/javascript" src="/static/src/jquery.jqplot.js"></script>
    <script type="text/javascript" src="/static/src/plugins/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="/static/src/plugins/jqplot.pieRenderer.min.js"></script>
    <script type="text/javascript" src="/static/src/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="/static/src/plugins/jqplot.pointLabels.min.js"></script>
    <link rel="stylesheet" type="text/css" hrf="/static/jquery.jqplot.min.css" />


<style>



header, section, footer
{
   background: #011d37;
   border-radius: 0.5em;
   -webkit-border-radius: 0.5em;
   -moz-border-radius: 0.5em;
   -o-border-radius: 0.5em;
   box-shadow: rgba(0,0,0,0.5) 0 5px 10px;
   margin: 1em auto;
   padding: 1em;
   width: 960px;
    height: 100%;
}

</style>

</head>
<body>
  <header style="width: 90%">

    <h4 align="right">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>

                <a href='/cerrar'>Cerrar Sesión</a>
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                <a href='/'>Pagina Principal</a>
    </h4>

        <h1 align="center"> <img src="/static/logo.png" width="80" height="100"/> Gestor de Proyectos</h1>


            <span class="glyphicon glyphicon-user" aria-hidden="true"><a> Usuario: {{ user.username}}</a></span>



     {% block navegacion %}{% endblock %}

  </header>


	{% block contenido %}{% endblock %}

    <footer>
		<br><span>Grupo R10</span><br>
			<span>Facultad Politecnica - Universidad Nacional de Asuncion</span><br>
			<span>2015</span>
    </footer>





</body>


</html>
