<!DOCTYPE html>
{% extends 'base.html' %}
{% block navegacion %}
         <div class="btn-group btn-group-justified">
        <a href="{% url 'apps.proyecto.views.detalle_proyecto' id_proyecto %}" class="btn btn-default">Datos Basicos</a>
        {% if perms.flujos.administrar_flujos %}
        <a href="{% url 'apps.flujos.views.administrarFlujos' id_proyecto %}" class="btn btn-default">Flujos</a>
        {% endif %}
        {% if perms.proyecto.listar_equipo %}
        <a href="{% url 'apps.proyecto.views.administrarEquipo' id_proyecto %}" class="btn btn-default">Equipo</a>
         {% endif %}
         {% if perms.user_stories.listar_user_story %}
        <a href="{% url 'apps.user_stories.views.administrarUserStory' id_proyecto %}" class="btn btn-default">User Story</a>
         {% endif %}
         {% if perms.sprint.listar_sprint %}
        <a href="{% url 'apps.sprint.views.adminisrarSprint' id_proyecto %}" class="btn btn-default">Sprint</a>
         {% endif %}
  </div>




     {% endblock %}
