<!DOCTYPE html>
<html>
<head lang="en">

    <script type="text/javascript" src="/static/src/jquery.min.js"></script>
    <script type="text/javascript" src="/static/src/jquery.jqplot.js"></script>
    <script type="text/javascript" src="/static/src/plugins/jqplot.barRenderer.min.js"></script>
    <script type="text/javascript" src="/static/src/plugins/jqplot.pieRenderer.min.js"></script>
    <script type="text/javascript" src="/static/src/plugins/jqplot.categoryAxisRenderer.min.js"></script>
    <script type="text/javascript" src="/static/src/plugins/jqplot.pointLabels.min.js"></script>
    <link rel="stylesheet" type="text/css" hrf="/static/jquery.jqplot.min.css" />

    <script type='text/javascript'>
        $(document).ready(function(){
        $.jqplot('chartdiv', {{ list }},
        { title:'Burn Down Chart',
          axes:{yaxis:{min:0, max:10}},
          series:[{color:'#5FAB78'}]
        });
        })
    </script>

    <meta charset="UTF-8">
    <title></title>
</head>
<body>

</body>
</html>