

<link rel='stylesheet' href='{{STATIC_URL}}/bootstrap/themes/darkly/css/bootstrap.css'>

    {% block pageName %}Olvidaste tu Contraseña{% endblock %}

    {% block body %}
        <div class="container col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="container-fluid">
                        <h1 class="intro"> Olvidaste tu Contraseña </h1>
                    </div>

                    <form method="post" action="{% url 'reset_password' %}">
                        {% csrf_token %}
                        <p>Por favor ingrese su dirección de correo. En brevedad recibirá un
                            correo con las instrucciones para reestablecer su contraseña.</p>

                        <input type="email" name="email"
                            placeholder="Su correo electrónico"><br/>

                        <button class="btn btn-lg btn-gray btn-block" type="submit">Recuperar Contraseña</button>
                    </form>

                </div>
            </div>
        </div>
    {% endblock body %}
