{% extends 'base.html' %}
{% block titulo %}Quitar Miembro{% endblock %}
{% block activo-admin %}active{% endblock %}

{%  block botones %}
    <li><a href="/adm_proyectos/{{ id_proyecto }}/adm_equipo/" class="btn btn-default">Volver</a></li>
{% endblock %}

{% block contenido %}
    <p class="alert alert-danger">Esta seguro que desea quitar a este usuario del equipo?</p>
    <p>
        <a class="btn btn-primary btn-lg" href="{% url 'apps.proyecto.views.quitarMiembro' id_proyecto miembro.id %}">Si</a>
        <a class="btn btn-default btn-lg" href="/adm_proyectos/{{ id_proyecto }}/adm_equipo/">No</a>
    </p>


{% endblock %}