{% extends 'base.html' %}



{% block contenido %}
<div class="content-secondary">
<!-- Aca van la  lista de Proyectos.. o de Solicitudes.. o de credenciales -->
	<h2>Miembro Eliminado con Exito </h2>
	<a href="/adm_proyectos/{{ id_proyecto }}/adm_equipo/"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> OK</button></a>
		

</div>
{% endblock %}